<html>
<script language='javascript'>
	var addItem = function(){	
		itemToAdd = document.getElementById('newItem').value
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("POST", "/add");
		xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		jsonToSend = [itemToAdd, 0]	
		xmlhttp.send(JSON.stringify(jsonToSend));

	}
</script>
<UL>

{% for entry in entries %}

    <li>
	{% if entry.is_done == 1 %}

		<strike>{{ entry }}  </strike>

	{% else  %}

		{{ entry.item_content }} 
	{% endif %}

	<a href='/done/{{ entry.task_id }}/{{ entry.is_done }}'>Done</a>
	<a href='/delete/{{ entry.task_id }}'>Delete</a>

{% endfor %}
</UL>

	<h2>Add Item</h2>
	<input type=text size=30 name=item_content id=newItem>
	<input type=Button value=AddButton name=addButton id=addButton onclick='addItem();'> 
</html
