<html>
<script language='javascript' charset='UTF-8'>
	var addItem = function(){	
		var itemToAdd = document.getElementById('newItem').value
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("POST", "http:localhost:5000/add");
		xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		var jsonToSend = [itemToAdd, 0]	
		xmlhttp.send(JSON.stringify(jsonToSend));  // Sends the response to server

		node = document.createElement("LI");       // adding a copy to the html document
		textNode = document.createTextNode(itemToAdd)
		node.appendChild(textNode)
		document.getElementById('toDoList').appendChild(node);	
		document.getElementById('newItem').value = ''		// Clear the text in add text box
		}
		
	var doUnDo = function(listItem){
		var taskID = listItem.id
		var taskDone = 0
		if (listItem.style['text-decoration-line'] === 'line-through')
			taskDone = 1	
		
		console.log(taskID,taskDone)
		var payload = [taskID, taskDone]	
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("POST", "http:localhost:5000/done");
		xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		xmlhttp.send(JSON.stringify(payload));

		xmlhttp.onreadystatechange = function () {
			 if (xmlhttp.readyState === 4){
				 buildList(JSON.parse(xmlhttp.responseText));
			}
	        }
	}

	var syncItem = function(){	
		
		var xmlhttp = new XMLHttpRequest();
	        xmlhttp.onreadystatechange = function () {
			 if (xmlhttp.readyState === 4){
				 buildList(JSON.parse(xmlhttp.responseText));
			}
	        }

		xmlhttp.open("GET", "http:localhost:5000/sync");
		xmlhttp.send(null)	
	
		}
		
	buildList = function(JSONResponse){
		console.log(JSONResponse,"hey this is buildList")	

		item_list = document.getElementById("toDoList");		
			while(item_list.firstChild){
				item_list.removeChild(item_list.firstChild)	
			}

			for (var x = 0; x < JSONResponse.length; x++){
				var node = document.createElement("LI");
				node.id = ( JSONResponse[x][0]) 

				var doneButton = document.createElement('Button');
				doneButton.onclick = function(){
					doUnDo(this.parentElement);};
				
				if(JSONResponse[x][2] == 1){

					node.style.textDecoration = 'line-through';
					doneButton.innerHTML = 'un Done'
				}
				else
					doneButton.innerHTML = 'Done'

					var textNode = document.createTextNode(JSONResponse[x][1]);

					node.appendChild(textNode);
					node.appendChild(doneButton);
					document.getElementById('toDoList').appendChild(node);


			}
	}


</script>

<h2> To do items</h2>
<UL id=toDoList>



</UL>
<input type=Button value=Sync name=syncButton id=syncButton onclick='syncItem()'>

	<h2>Add Item</h2>
	<input type=text size=30 name=item_content id=newItem>
	<input type=Button value=AddButton name=addButton id=addButton onclick='addItem();'> 


</html>

